#List .card, #outList .card {
	display: inline-block;
	margin: 2px;
}

.card {
	border: 1px solid black;
	background-color: #EEE;
}
.card table, .card th, .card td {
	border: 1px solid #ccc;
	text-align: center;
	border-collapse: collapse;
	margin: 2px;
	background-color: #FFF;
}
.card .currPts {
	display: inline;
	font-size: 10;
	color: #777;
}

.card .pts {
	display: none;
}

#outList .card td, #outList .card th{
	color: #999;
}
#outList .card .pts {
	display: inline;
	color: #bbb;
	font-size: 9;
}
#outList .card .currPts {
	display: none;
}