html, body {
	margin: 0;
	padding: 0;
	background: #467;
	color: #EEF;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	text-align:center;
}
.title {
	font-size: 2em;
	color: #007;
	font-weight: bold;
	text-shadow: 0px 0px 4px #FFF;
	margin: 1em auto;
}
.copyright {
	font-size:12px;
	color: #445;
	text-shadow: 0px 0px 4px #FFF;
}
table.main{
	border-collapse: collapse;
	border:1px solid;
	width:90%;
	margin: 1em auto;
	table-layout: fixed;
}
table.versions {
	border-collapse: collapse;
	margin: 1em auto;
	border:1px solid #444;
	font-size:12px;
	color: #333;
}
table.versions tr td {
	padding: 0.5em 1em;
}

textArea {
	word-wrap:break-word; 
	word-break:break-all;
	display:relative;
	width:95%;
	height:200px;
	resize:vertical;
	color:#555;
	background-color: #FFF;
	border: 1px solid #AAA;
	border-radius: 3px 3px 0px 3px;
	padding: .2em .1em;
	margin: auto 1em;
}

#compress {
	border:1px solid #777;
	width:50%;
	color:#484;
	padding: .1em 1em;
	background:#CCD;
}
#compress.statusErr {
	color:#a44;
}
.status {
	text-align:center;
	padding: 1em;
}
.warning {
	font-size: 15px;
	color: #F77;
}
#toS, #fromS {
	width:3em;
}
#to, #from {
	width: 60%;
}
.textBase {
	font-size: 15px;
	color: #99F;
}
